* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
div {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(173, 188, 230);
  color: white;
}